<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MSGAutoSave</string>
			<key>footerText</key>
			<string>by Janosch Hübner (@sharedRoutine)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sharedroutine.msgautosave</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>MSGAutoSaveUpdateSettingsNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Save Options</string>
			<key>footerText</key>
			<string>Videos will not be upscaled. The video will be compressed using H.264 and the audio will be compressed using AAC. Low, Medium and High are defined by the devices resolutions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sharedroutine.msgautosave</string>
			<key>key</key>
			<string>kConfirmSave</string>
			<key>label</key>
			<string>Confirm before saving</string>
			<key>PostNotification</key>
			<string>MSGAutoSaveUpdateSettingsNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.sharedroutine.msgautosave</string>
			<key>key</key>
			<string>kResizeValue</string>
			<key>label</key>
			<string>Resize Images</string>
			<key>titlesDataSource</key>
			<string>getTitles:</string>
			<key>valuesDataSource</key>
			<string>getValues:</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>PostNotification</key>
			<string>MSGAutoSaveUpdateSettingsNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>-1</integer>
			<key>defaults</key>
			<string>com.sharedroutine.msgautosave</string>
			<key>key</key>
			<string>kResizeVideoValue</string>
			<key>label</key>
			<string>Resize Videos</string>
			<key>titlesDataSource</key>
			<string>getVideoSizeTitles:</string>
			<key>valuesDataSource</key>
			<string>getVideoSizeValues:</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>PostNotification</key>
			<string>MSGAutoSaveUpdateSettingsNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>On Error</string>
			<key>footerText</key>
			<string>If an error occurs the original media will be saved to Camera Roll instead.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sharedroutine.msgautosave</string>
			<key>key</key>
			<string>kSaveAnyway</string>
			<key>label</key>
			<string>Save original Media</string>
			<key>PostNotification</key>
			<string>MSGAutoSaveUpdateSettingsNotification</string>
		</dict>
	</array>
	<key>title</key>
	<string>MSGAutoSave</string>
</dict>
</plist>
